body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
.bg {
    background-color: #282f38;
    background-image: url("image.png");
    height: 100%;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}